{% extends 'base.html' %}

{% block title %}
    Admin
{% endblock %}

{% block content %}
<h1>Admin Controls</h1>

    <div class="row" style="margin-top:20px; margin-left:20px">
        <div class="col-8">

            <h2>The Items</h2>
            <br>

            <table class="table table-hover table-dark">
            <thead>
                <tr>
                 <th scope="col">ID</th>
                 <th scope="col">Name</th>
                 <th scope="col">Barcode</th>
                 <th scope="col">Price</th>
                 <th scope="col">Description</th>
                </tr>
            </thead>

            <tbody>
            {% for item in items %} <!-- Logic Tag in Jinja -->
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.barcode }}</td>
                <td>${{ item.price }}</td>
                <td>{{ item.description }}</td>
            </tr>
            {% endfor %}  <!-- Ending the "for" loop -->

            </tbody>
        </table>
        </div>

        <div class="col-4">
            <h2>Users</h2>
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                     <th scope="col">ID</th>
                     <th scope="col">UserName</th>
                     <th scope="col">Email</th>
                     <th scope="col">Wallet</th>
                    </tr>
                </thead>

                <tbody>
                {% for user in users %} <!-- Logic Tag in Jinja -->
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>${{ user.wallet }}</td>
                </tr>
                {% endfor %}  <!-- Ending the "for" loop -->

                </tbody>
            </table>
            </div>
        </div>

    </div>



{% endblock %}